<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".intro1" %>
  <%= link_to "Ruby on Rails Tutorial" ,"http://www.railstutorial.org/help" %>
  <%= t ".intro2" %>
  <%= link_to "Ruby on Rails Book" ,"http://www.railstutorial.org/book" %>
</p>
